<h1>Notes <a href="#/notes/new" class="btn btn-default">New Note</a></h1>
<div class="form-group">
  Search: <input type="text" ng-model="search.input.$">
</div>
<da-category-selector ng-model="search.category"></da-category-selector>

<div class="row">
  <div class="col-sm-6" ng-repeat="note in notes | categoryFilter:search.category | filter:search.input">
    <h2><a title="{{note.user.name}}" ng-href="#/notes/{{note.id}}">{{note.title}}</a></h2>
    <p>{{note.description}}</p>
    <p><span class="label label-info">{{note.category.name}}</span></p>
  </div>
</div>
